* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    color: #374151;
}

.business-card {
    padding: 60px;
    background-color: #23252C;
    width: 437px;
}

/* Info Section */
.info {
    width: 317px;
    text-align: center;
    background-color: #F5F5F5;
}

.info--profile-picture {
    width: 317px;
    border-radius: 10px 10px 0px 0px;
}

.info--name {
    font-size: 25px;
    margin: 0;
    margin-top: 20px;
}

.info--job-title {
    color: #F47D27;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    margin-top: 4px;
}

.info--website {
    font-size: 10px;
    margin: 0;
    margin: 10px;
}

.info--links {
    display: flex;
    padding: 0px 35px;
    justify-content: space-between;
}

.info--email, .info--linkedin {
    width: 115px;
    height: 34px;
    line-height: 34px;
    border-radius: 6px;
    font-size: 14px;
}

.info--email {
    background-color: white;
    border: 1px solid #D1D5DB;
}

.info--linkedin {
    background-color: #297FE5;
    border: 1px solid #297FE5;
    color: white;
}

/* About & Interests Sections */
.about, .interests {
    width: 317px;
    padding: 0px 35px;
    background-color: #F5F5F5;
}

.interests {
    padding-bottom: 50px;
}

.about--title, .interests--title {
    margin: 0;
    padding-top: 10px;
    font-size: 16px;
}

.about--desc, .interests--desc {
    margin: 0;
    padding-top: 6px;
    font-size: 10px;
}

/* Footer Section */
.footer {
    width: 317px;
    height: 61px;
    margin: 0;
    margin-top: -10px;
    border-radius: 0px 0px 10px 10px;
    background-color: #D5D4D8;
    text-align: center;
    line-height: 61px;
    font-size: 10px;
    color: #918E9B;
}
